{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

{% from 'discharge_form.html' import form_support_scripts, form_support_on_ready %}
{{ form_support_scripts() }}

<script>
        function copyDisCommandToClipboard() {
        var disCommand = "./Dirigent.sh ";
        disCommand+= "--discharge --operation.discharge \"style='standard'\" ";
        {% if is_session %}
            {%- for subsystem in discharge_command.subsystems.values() | rejectattr('hidden') %}
                disCommand+= "--{{subsystem.command}} \"";
            
                {% for parameter in subsystem.parameters.values() %}
                    {%- if not subsystem.is_parameter -%}
                    disCommand+= "{{parameter.name}}="
                    {%- endif %}

                    {% if parameter.hidden and not parameter.type in ['int', 'float']  %}
                        disCommand+="\'";
                        // TD why does not id for Hidden tag work
                        disCommand+= $("#{{parameter.full_id_name}}").val()


                        {% if not loop.last %}
                            disCommand+= "\',";
                        {% else %}
                            disCommand+= "\'";
                        {% endif %}

                    {% elif parameter.hidden and parameter.type in ['int', 'float']  %}
                        disCommand+= $("#{{parameter.full_id_name}}").val()

                        {% if not loop.last %}
                        disCommand+= ",";
                        {% endif %}

                    {% elif parameter.type in ['int', 'float'] or subsystem.is_parameter %}
                        disCommand+= $("#text-value-{{parameter.full_id_name}}").val();

                        {% if not loop.last %}
                        disCommand+= ",";
                        {% endif %}

                    {% elif parameter.type in ['switch'] %}
                        
                        disCommand+= "'" + getSelectedValue("{{parameter.full_id_name}}") + "'";
                        {% if not loop.last %}
                        disCommand+= ",";
                    
                        {% endif %}

                    {% else %}
                        disCommand+="\'";
                        disCommand+= $("#text-value-{{parameter.full_id_name}}").val();

                        {% if not loop.last %}
                            disCommand+= "\',";
                        {% else %}
                            disCommand+= "\'";
                        {% endif %}

                    {% endif %}

                {% endfor %}
                disCommand+= "\" ";
            
            {% endfor %}
        {% endif %}
        
        navigator.clipboard.writeText(disCommand);

    }

    function initDescriptions() {
        var showDescriptions = Cookies.get('showDescriptions');
        if (showDescriptions === undefined) {
            showDescriptions = true;
        } else {
            showDescriptions = (showDescriptions === 'true')
        }
        if (showDescriptions) {
            $('.description').show();
            $('#descriptions-button').text("Hide Descriptions");
        } else {
            $('.description').hide();
            $('#descriptions-button').text("Show Descriptions");
        }
    }

    function descriptionsToggle() {
        var showDescriptions = Cookies.get('showDescriptions');
        showDescriptions = (showDescriptions === 'true')
        showDescriptions = !showDescriptions
        Cookies.set('showDescriptions', showDescriptions);
        if (showDescriptions) {
            $('.description').show();
            $('#descriptions-button').text("Hide Descriptions");
        } else {
            $('.description').hide();
            $('#descriptions-button').text("Show Descriptions");
        }
    }

    function collapsePanels() {
        // if collapsed nothing
        // if some revealded save state
        // if all expanded revert to prev state
        // else
        // collapse all
    }

    function revealPanels() {
        // if revealed do nothing
        // if all collapsed revert to prev state
        // if some uncollapsed save state and reveal all
    }

    $(document).ready(function () {
        $('input.choice-radio').checkboxradio();
        {% if is_session %}
        {% for subsystem in discharge_command.subsystems.values() %}
        {% for parameter in subsystem.parameters.values() if parameter.type == 'binary' %}
        set_binary_choicesbox_from_input("{{parameter.full_id_name}}");
        $('#text-value-{{parameter.full_id_name}}').on('input', function() {
            set_binary_choicesbox_from_input("{{parameter.full_id_name}}");
        });
        {% endfor %}
        {% for parameter in subsystem.parameters.values() if parameter.type == 'shot_no' %}

        $('#shotno-select-{{subsystem.safe_name}}{{ parameter.name }} .dropdown-menu a').click(function () {
            $('#text-value-{{subsystem.safe_name}}{{ parameter.name }}').val($(this).data('tuning'));   
        });
        {% endfor %}

        {% for parameter in subsystem.parameters.values() if parameter.type == 'ternary' %}
        set_ternary_choicesbox_from_input("{{parameter.full_id_name}}");
        $('#text-value-{{parameter.full_id_name}}').on('input', function() {
            set_ternary_choicesbox_from_input("{{parameter.full_id_name}}");
        });
        {% endfor %}
        {%- for parameter in subsystem.parameters.values() if parameter.type == 'waveform' -%}
        
        waveform_plots["{{parameter.full_id_name}}"] = create_wafeform_plot("{{parameter.full_id_name}}");

        {% if parameter.options |length %}
        $('#option-select-{{parameter.full_id_name}} ul li a').on('click', function() {
                console.log(this.closest('.input-group').firstElementChild);
                updateWaveform(this.closest('.input-group').firstElementChild);
          });

        {% endif %}
        {%- endfor -%}
        {% endfor %}
        {%endif%}

        $('#main-shotno-select .dropdown-menu a').click(function () {
            redirect($(this).data('tuning'));
        });

        document.getElementById("shotno-select-form").addEventListener("submit", function(event) {
            event.preventDefault(); 
            // Get the user-entered number
            var sno = document.getElementById("main-shotno-input").value;

            var redirectURL = '{{url_for("control_room")}}' + sno;
            window.location.href = redirectURL;
        });

        initDescriptions();

        {{ form_support_on_ready() }}
        
        });

        function redirect(where) {
            if (where){
                window.location = '{{url_for("control_room")}}' + where;
            } else {
                window.location = '{{url_for("control_room")}}' + document.getElementByID('main-shotno-input').value;
            }
        }

</script>

{% endblock %}

{% block container_div %}<div class="container">{% endblock %}
{% block content %}
{% from 'discharge_form.html' import render_parameter, render_subsys_description, render_subsys_img %}
{% if not is_session %}
<div class="alert alert-warning" role="alert">There is no currently running session on GOLEM tokamak.</div>
{% else %}
<form id="shotno-select-form">
    <div class="input-group input-group-lg has-feedback">
        <span class="input-group-addon" id="basic-addon1">Use </span>
        <input type="text" class="form-control" id="main-shotno-input" name="shotNo"
            value="{{shot_no}}"
            pattern="^(v?#?0|v?#?[1-9]\d{4}|Master|Session Master Discharge|Vacuum|Vacuum Discharge)$" title="Use valid shot number, 'Master' or 'Vacuum'." required>
        <div class="input-group-btn" id="main-shotno-select">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a data-tuning="Session Master" href="-1">Session Master</a></li>
                    <li><a data-tuning="Vacuum Discharge" href="-2">Vacuum Discharge</a></li>
                    <li role="separator" class="divider"></li>
                    {% for shot_no in session_shot_nums  %}
                    <li><a data-tuning="{{ shot_no }}" href="{{ shot_no }}">#{{ shot_no }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- #main-shotno-select -->
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" onsubmit="formRedirect('');return false">as Template</button>
        </span>
    </div><!-- /input-group -->
</form>

<br>
<form id="discharge-form" method="POST" onkeydown="return event.key != 'Enter';">
{{ discharge_form.hidden_tag() }}
<div class="panel-group" id="discharge-form-panel-group" role="tablist" aria-multiselectable="true">
{% for subsystem in discharge_command.subsystems.values() %}
    {% if not subsystem.hidden %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" 
                    href="#collapsable{{subsystem.safe_name}}" 
                    aria-expanded="true" aria-controls="collapsable{{subsystem.safe_name}}">
                {%- if subsystem.known and subsystem.title is not none -%}
                {{ subsystem.title }} ({{ subsystem.command }})
                {%- else -%}
                {{ subsystem.command }}
                {%- endif -%}
                </a>
                {% if loop.first %}
                <div class="btn-group pull-right">
                    <button id="descriptions-button" type="button" class="btn btn-default" onclick="descriptionsToggle()" role="group">Hide Descriptions</button>
                    <!-- <button id="toggle-panels-button" type="button" class="btn btn-default" onclick="revealPanels()" role="group">Expand Panels</button>
                    <button id="toggle-panels-button" type="button" class="btn btn-default" onclick="collapsePanels()" role="group">Collapse Panels</button> -->
                </div>
                <div class="clearfix"></div>
                {% endif %}
            </h3>
        </div>
        {% if loop.first %}
        <div class="panel-collapse collapse in" id="collapsable{{subsystem.safe_name}}">
        {% else %}
        <div class="panel-collapse collapse in" id="collapsable{{subsystem.safe_name}}">
        {% endif %}
        <div class="panel-body">
                {% if subsystem.description.has_markdown and subsystem.description.has_img %}
                <div class="description">
                <div class="row">
                    <div class="col-md-4"> {{ render_subsys_img(subsystem) }}</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6"> {{ render_subsys_description(subsystem) }} </div>
                </div>
                <hr>
                </div>
                {% elif subsystem.description.has_markdown %}
                <div class="description">
                <div class="row">
                    <div class="col-md-9"> {{ render_subsys_description(subsystem) }}  </div>
                    </div>
                    <hr>
                </div>
                {% endif %}
            {% if not subsystem.known %} 
                    <div class="alert alert-warning" role="alert">This sub-command is not recognized. Please be careful when entering values.</div>
            {%endif%}
            {% for parameters_batched in subsystem.parameters.values() | rejectattr('hidden') | batch(2) %}
            <div class="row">
                {% for parameter in parameters_batched %}
                    <div class="col-md-6">
                    {{ render_parameter(parameter, discharge_form, zip, force_string_params, session_shot_nums) }}
                    {% for error in discharge_form[parameter.full_id_name].errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {%endfor%}
                    </div> <!-- col-md-6 -->
                {%endfor%}
            </div> <!-- row -->
            {% endfor %}
        </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div>  <!-- panel -->
    {% endif %}
{% endfor %}
</div> <!-- panel-group -->


<div class="btn-group btn-group-justified" role="group">
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-lg" onclick="copyDisCommandToClipboard()" data-toggle="tooltip" data-placement="top" title="Validity is not checked.">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Copy command to clipboard
      </button> 
</div>
<div class="btn-group" role="group">
{{ discharge_form.submit(class="btn btn-primary btn-lg") }}
</div>
</div>



</form>
{% endif %}
<br>

<footer class="text-center text-white">
  
    <div class="text-center">
        <hr>
    <p>
    <span style="display:inline-block; vertical-align:middle; horizontal-align:right">
        Found an error? Please report bugs at:
    <a href="https://gitlab.com/golem-tokamak/dirigent">The tokamak GOLEM controll SW @ <img src="https://golem.fjfi.cvut.cz/_static/logos/GitLab.png" width="70px"></a></span></p>
    </div>
  </footer>


{% endblock content %}
