{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script>
    function skipIntro() {
        var d = new Date();
        d.setTime(d.getTime() + (150 * 24 * 60 * 60 * 1000));
        document.cookie = "skipIntroduction=true;expires=" + d.toUTCString();
        window.location.assign("{{ url_for('control_room') }}");
    }
</script>
{% endblock head %}

{% block content %}
    <div class="jumbotron">
        <h1>Introduction to the GOLEM tokamak</h1>

        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
                <source  src="https://golem.fjfi.cvut.cz/videos/GOLEM_remote_intro.mp4" type="video/mp4">
                Your browser does not support this video.
            </video>
        </div>

        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">Publication (manual) on online experimentation at the GOLEM tokamak</div>
            <div class="panel-body">
                O. Grover, V. Svoboda and J. Stockel, "Online experimentation at the GOLEM tokamak," 2019 <i>5th Experiment International Conference (exp.at'19)</i>, Funchal (Madeira Island), Portugal, 2019, pp. 220-225, doi: <a href="https://doi.org/10.1109/EXPAT.2019.8876482">10.1109/EXPAT.2019.8876482</a>.
                                                                                                                                                                                                                                           </div>
                                                                                                                                                                                                                                           <div class="panel-footer">
                <a href="http://golem.fjfi.cvut.cz/wikiraw/Presentations/Journals/IEEE/EXPAT/19/experimentation/08876482.pdf">PDF fulltext</a>
            </div>
        </div>
                    <button type="button" class="btn btn-primary" onclick="skipIntro()">Skip introduction</button>
    </div>

{% endblock content %}
