
<ul>
<li>#42670@19.10.2023: Basic diagnostics splitted into Plasma detection and Basic diagnostics. </li>
<li>#42541@23.07.2023: Test mode for detecting the start and end of the plasma "Lobko:DetectPlasma.ipynb" from U_l to the photodiode.</li>
</ul>
